h1{
    color: brown;
}

p.welcome{
    
    color: chocolate;
}
p.grout{
    color: crimson;

}
body{ background-color: dimgrey;

}

h1.prout{
    font-size: 100px;
}

.baton1 {
    width: 500px;
    background-color: rgb(52, 132, 206);
    border-radius: 15px;
    border-style: solid 1px;
    box-shadow: ivory 2px;
}
.img1 {
    width: 400px;
    transition: width 2s, height 2s, transform 2s;
    margin-left: 50px;
    border-style: solid 1px;
}
.img1:hover {
    transform: rotate(360deg);
    width: 500px;
    margin-left: unset;
}
h4 {
    text-align: center;
}


/*.baton1 {
    transition: width 2s, height 2s;
}
.baton1:hover {
    width: 600px;
}
*/
.img2 {
    border-style: solid 1px;
    width: 400px;
    transition: width 2s, height 2s, transform 2s;
    margin-left: 50px;
    height: 223px;
}
.img2:hover {
    width: 100%;
    margin-left: unset;
    transform: rotate(360deg);
    

}
.baton2 {
    width: 500px;
    background-color: rgb(52, 132, 206);
    border-radius: 15px;
    border-style: solid 1px;
    box-shadow: ivory 2px;  
}
.baton3{
    width: 500px;
    height: 500px;
}
.img3{
    width: 100%;
    height: 100%;
}

/* J'ai trouvé comment faire faire une rotation infinie à une image*/
.img3 {
    animation: spin 2s linear 0s infinite;
    animation-duration: 4s;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

}}
/*Voila qui conclu la minip*/

.img4{
    animation-duration: 2s;
    animation-name: rotation;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(0px, 100%) rotateX(360deg);
    }
    
}